{% extends 'customer_layout.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-sm-6">
        <h2 class="text-muted">Feedback Section</h2>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-dark">Submit</button>

        </form>
    </div>
</div>

<br><br>
<div class="row justify-content-center">
    <div class="col-sm-6">
        <h2 class="text-muted">My Feedbacks</h2>
        <table>
            <thead>
                <tr>
                    <th>Publish Date</th>
                    <th>Username</th>
                    <th>Feedback</th>
                </tr>
            </thead>
            <tbody>
                {% for data in feedback_list %}
                <tr>
                    <td>{{ data.datetime }}</td>
                    <td>{{ data.username }}</td>
                    <td>{{ data.feedback }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No feedback available</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}